<div>
     <section id="beerImg">
         <img src="{{image_url}}" alt="beer-image"/>
     </section>
     <section id="infoBeer">
         <h1>{{name}}</h1>
		 <h2>{{tagline}}</h2>
		 <p>{{description}}</p>
      </section>
 </div>